# --- Image processing ---
dotenv # environment variables
python-magic==0.4.27




##### =====================================
# PROMPT PROCESSING
##### =====================================
google-genai==1.29.0

# Image preprocessing, processing
ultralytics ==8.3.179