# --- Image processing ---
dotenv
python-magic==0.4.27




##### =====================================
# PROMPT PROCESSING
##### =====================================
# Translation
google-genai==1.29.0